* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
}

.pageWrapper {
    display: grid;
    grid-template-columns: auto 25vw 25vw 25vw auto;
    grid-template-rows: 88px 20vw 20vw;
    grid-gap: 25px;
}

.item {
    background-color: rgb(0, 119, 255);
    padding: 30px;
    border-radius: 30px;
    color: white;
    box-shadow: 10px 5px 5px black;
}

.plus {
    grid-row: 2/3;
    grid-column: 2/3;
}

.min {
    grid-row: 3/4;
    grid-column: 2/3;
}

.keer {
    grid-row: 2/3;
    grid-column: 4/5;
}

.delen {
    grid-row: 3/4;
    grid-column: 4/5;
}

.item hr {
    border: solid;
    border-radius: 100px;
    margin: 5px 0;
}

.item .title {
    display: flex;
    justify-content: space-between;
    font-size: 30px;
}

.item p {
    font-size: 2rem;
    font-weight: bold;
}

.form-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    background-color: blue
}

.select {
    display: none;
}

.item form {
    height: 100%;
}